<header th:fragment="header(title)">
    <nav class="navbar navbar-light bg-dark">
        <a href="/" class="navbar-brand mb-0 h1 text-light logo"><span class="text-info">P</span>hemp</a>
        <div>
            <span sec:authorize="isAuthenticated()">
                <span class="text-light mr-4">Welcome <span sec:authentication="name"></span> </span>
            </span>
            <a class="btn btn-lg mb-8 btn-light" href="/">Home</a>
            <span sec:authorize="isAuthenticated()">
                <a class="btn btn-secondary btn-lg mb-8 btn-info" href="/profil">Profil</a>
                <a class="btn btn-secondary btn-lg mb-8 btn-secondary" href="/logout">Log Out</a>
            </span>
            <a sec:authorize="!isAuthenticated()" class="btn btn-lg mb-8 btn-secondary" href="/login">Login</a>
        </div>
    </nav>
</header>