.form-row *
{
    margin: 4px;
}

.hide
{
    display: none !important; 
}

.info
{
	font-style: italic;
}

.connectionBox
{
    background: #343a40;
    color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 10px 30% 10px 30%;
}

.dark
{
	background-color: #343a40;
	color: white;
}

.logo
{
	font-size: 2.5em;
	font-family: 'Pacifico', cursive;
}

  /*******/
 /* Ads */
/*******/

.ad
{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	color: white;
	margin:0;
	width: 100vw;
	height: 100%;
}

.schoolAdministratorAd
{
	/*No copyright on this image*/
	background-image: url('../img/image2blur10px.jpg');
}

.photographerAd
{
	/*No copyright on this image*/
	background-image: url('../img/image1blur10px.jpg');
}