.form-row *
{
    margin: 4px;
}

.hide
{
    display: none !important; 
}

.info
{
	font-style: italic;
}

.connectionBox
{
    background: #343a40;
    color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 10px 30% 10px 30%;
}