<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="../fragments/head.html :: head('Hub Page')"></head>
<body class="text-center">
    <header th:replace="../fragments/header.html :: header('Hub Page')"></header>

	<section class="m-5">

        <h2>Menu</h2>
        <div class="list-group">
            <a href="/schoolManagement"      class="list-group-item list-group-item-action list-group-item-dark">School Management</a>
            <a href="/test"      class="list-group-item list-group-item-action list-group-item-dark">Test Entities</a>
        </div>

	</section>

	<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/chartjs/2.7.3/Chart.min.js}"></script>
    
</body>
</html>