<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="../fragments/head.html :: head('Phemp')"></head>
<body class="text-center backgroundSchoolAdmin">
    <header th:replace="../fragments/header.html :: header('Phemp')"></header>

	<a href="/" class="btn btn-info btn-lg mt-2">Back to the hub</a>
	<section class="m-5">
	
	<div class="connectionBox dark">
		<h2>My School</h2>
		<h4>School Name</h4>
		<p th:text="${school.schoolName}"></p>	
	</div>
	<hr />
	<div class="connectionBox m-auto w-50">
		<h4>School Classes</h4>
	
		<h6>New School Classes</h6>
	    <form th:action="@{/newSchoolClass}" method="POST"> 
	        School Class Name : <input type="text" class="form-control" name="schoolClassName" required/> <br/>
	        Year : <input type="number" class="form-control" name="year" required/> <br/>
	        <input type="hidden" class="form-control" name="schoolId" th:value="${school.schoolId}" required/> <br/>
	
	        <input type="submit" class="btn form-control btn-secondary" value="Add"/>
	    </form>
	    
	    <div th:each="schoolClass : ${schoolClasses}">
			<a th:href="@{'/schoolClassManagement?id='+${schoolClass.schoolClassId}}" class="btn-info btn btn-lg mb-2">
				<strong>School Class : </strong>
				<small>
					<span th:text="${schoolClass.schoolClassName}"></span>
					(<span th:text="${schoolClass.year}"></span>)
				</small>
			</a>
		</div>
	</div>
	
	<h4>Sales</h4>
    </section>

    <div th:insert="../fragments/scripts.html :: min_scripts"></div>
    <script th:src="@{/js/school_management_functions.js}"></script>
</body>
</html>