<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="../fragments/head.html :: head('Phemp')"></head>
<body class="text-center backgroundHub">
    <header th:replace="../fragments/header.html :: header('Phemp')"></header>

	<a href="/" class="btn btn-info btn-lg mt-2">Back to the hub</a>
	
    <p th:if="${error}!=null" th:text="${error}" class="alert alert-danger"></p>
	<section class="m-5">
	
	<div class="connectionBox dark">
		<h2>My School</h2>
		<h4>School Name</h4>
		<p th:text="${school.schoolName}"></p>	
	</div>
	<hr />
	<div class="connectionBox m-auto w-50">
		<h4>School Classes</h4>
		<h6>New School Classes</h6>
	    <form th:action="@{/newSchoolClass}" method="POST"> 
		    <div class="form-group row">
				<label for="schoolClassName" class="col-sm-2 col-form-label">School Class Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="schoolClassName" name="schoolClassName" placeholder="School Class Name" required/>
				</div>
			</div>
	    	<div class="form-group row">
				<label for="year" class="col-sm-2 col-form-label">Year</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" id="year" name="year" placeholder="Year" required/>
				</div>
			</div>
	    
	        <input type="hidden" class="form-control" name="schoolId" th:value="${school.schoolId}" required/> <br/>
	
	        <input type="submit" class="btn form-control btn-secondary" value="Add"/>
	    </form>
	    
	    <div th:each="schoolClass : ${schoolClasses}">
			<a th:href="@{'/schoolClassManagement?id='+${schoolClass.schoolClassId}}" class="btn-info btn btn-lg mb-2">
				<strong>School Class : </strong>
				<small>
					<span th:text="${schoolClass.schoolClassName}"></span>
					(<span th:text="${schoolClass.year}"></span>)
				</small>
			</a>
		</div>
	</div>
	
	<div class="connectionBox w-50 mt-5 mx-auto">
		<h4>Sales</h4>
	
		<div th:if="${orders.empty}">No orders found...</div>
		<div th:each="order : ${orders}">
				<a th:href="@{'/displayOrder?id='+${order.orderId}}" class="btn-info btn btn-lg mb-2">
					<strong>Order Infos : </strong>
					<small>
						From : <span th:text="${order.parent.email}"></span>
						(order Id : <span th:text="${order.orderId}"></span>)
					</small>
				</a>
		</div>
	</div>
    </section>

    <div th:insert="../fragments/scripts.html :: min_scripts"></div>
    <script th:src="@{/js/school_management_functions.js}"></script>
</body>
</html>