<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="../fragments/head.html :: head('Phemp')"></head>
<body class="text-center backgroundManagement">
    <header th:replace="../fragments/header.html :: header('Phemp')"></header>

	<a href="/" class="btn btn-info btn-lg mt-2">Back to the hub</a>
	<a href="/schoolManagement" class="btn btn-info btn-lg mt-2">Back to the school page</a>
	<section class="m-5">
	
	<div class="connectionBox">
		<h2>School Class</h2>
		<strong>Name : </strong>		<small><span th:text="${schoolClass.schoolClassName}"></span></small><br />	
		<strong>Year : </strong>		<small><span th:text="${schoolClass.year}"></span></small>
	</div>
	
	<div class="connectionBox">
		
			<h4>New child</h4>
		
			<form th:action="@{/newChild}" method="POST"> 
		        First Name : <input type="text" class="form-control" name="firstName" required/> <br/>
		        Last Name : <input type="text" class="form-control" name="lastName" required/> <br/>
		        Email of parent : <input type="text" class="form-control" name="emailParent" required/> <br/>
		        Phone number of parent : <input type="text" class="form-control" name="phoneNumberParent" required/> <br/>
		        
		        <input type="hidden" name="schoolClassId" th:value="${schoolClass.schoolClassId}"/>
		
		        <input type="submit" class="btn form-control btn-secondary" value="Add"/>
		    </form>
		    
	        <hr />
			
			<h4>Children</h4>
			
			<table class="table text-light text-center">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Parent Access Login</th>
						<th>Parent Access Password (Default)</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="child : ${schoolClass.children}">
						<td th:text="${child.childFirstName}"></td>
						<td th:text="${child.childLastName}"></td>
						<td th:text="${child.parent.email}"></td>
						<td>parent</td>
					</tr>			
				</tbody>
			</table>
	</div>
	
	<h4>Sales</h4>
    </section>

    <div th:insert="../fragments/scripts.html :: min_scripts"></div>
    <script th:src="@{/js/school_management_functions.js}"></script>
</body>
</html>