<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="../fragments/head.html :: head('Phemp')"></head>
<body class="text-center">
	<header th:replace="../fragments/header.html :: header('Phemp')"></header>
	<section class="m-5">
		<div class="form-group form-row justify-content-md-center connectionBox">

			<h2>Upload Photo</h3>
			<form id="uploadForm" name="uploadForm">
				<input type="hidden" th:value="${_csrf.parameterName}" id="csrf_parameter_name"/>
				<input type="hidden" th:value="${_csrf.token}" id="csrf_token"/>
			
                <label>Image :</label>
			  	<div class="custom-file">
			    	<input type="file" required class="custom-file-input" id="uploadFile" aria-describedby="inputGroupFileAddon01">
			    	<label class="custom-file-label" for="inputGroupFile01">Choose a photo</label>
				</div>
                
                <label>Description :</label>
                <input placeholder="Photo description" class="form-control" id="description" type="text" name="description" />
                
                <label>Capture date :</label>
                <input class="form-control" id="date" type="date" name="date" />
                
                <label>Captured Childs :</label>
                <th:block th:each="child : ${childs}">
                <input type="checkbox" name="capturedChild" th:value="${child.childId}"/>
                 <label th:text="${child.childFirstName + ' ' + child.childLastName}"></label>
               	</th:block>
                    
                <label> SchoolClass :</label>
                <select th:each="schoolClass : ${schoolClasss}" th:if="${schoolClass != null}"
                id="schoolClassId" name="schoolClassId" class="custom-select form-control">
                    <option th:value="${schoolClass.schoolClassId}"
                        data-th-text="${schoolClass.SchoolClassName}"></option>
                    <option th:if="${schoolClass == null}" th:value="-1"
                        data-th-text="No SchoolClass found" />
                </select>
                <label>Photo type :</label>
                <select id="type" name="type" class="custom-select form-control">
                    <option th:value="0" data-th-text="Individual"></option>
                    <option th:value="1" data-th-text="Class"></option>
                    <option th:value="2" data-th-text="Unknown" selected="selected"></option>
                </select>

				<button type="button" onclick="onSubmit()" class="btn btn-dark m-3">Submit</button>
			</form>
			<div class="upload-response">
				<div id="uploadError"></div>
				<div id="uploadSuccess"></div>
			</div>
		</div>

	</section>

    <div th:insert="../fragments/scripts.html :: min_scripts"></div>
    <script th:src="@{/js/upload_functions.js}"></script>

</body>
</html>